@charset "UTF-8";

#wrapper {
  width: 600px;
}

#main .avatar {
  position: relative;
  display: block;
  margin-bottom: 30px;
}
  #main .avatar img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    box-shadow: 0 0 0 1.5em #ffffff;
  }
  #main .avatar:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 600px;
    height: 1px;
    z-index: -1;
    background: #c8cccf;
  }

ul.icons {
  letter-spacing: normal;
  position: absolute;
  margin-top: -240px;
  margin-left: 20px;
  margin-bottom: 40px;
}
ul.icons li a, i {
  text-decoration: none;
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: solid 1px #c8cccf;
  line-height: 40px;
  margin: 0px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  color: #c8cccf;
  transition: border-color 1s, color 0.5s;
}
ul.icons li i {
  line-height: 40px;
  border-color: #91C7B8;
  color: #91C7B8;
}

form {
  margin: 20px;
}
  form > .fields > .field {
    padding: 1.125em 0 0 1.125em;
    width: calc(100% - 1.125em);
  }
input, select, textarea {
  color: #414f57;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  line-height: 2;
  border-radius: 4px;
  border: solid 1px #c8cccf;
  display: block;
  padding: 0 14px;
  width: 90%;
}
  @media screen and (max-width: 1680px) {
    input, select, textarea {
      font-size: 11pt;
    }
  }
  @media screen and (max-width: 480px) {
    input, select, textarea {
      font-size: 10pt;
      line-height: 1.75;
    }
  }
  ::placeholder {
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  input:invalid,
  textarea:invalid {
    box-shadow: none;
  }
  input:focus,
  textarea:focus {
    border-color: #91C7B8;
  }
  input {
    height: 40px;
  }
  textarea {
    padding: 10px 14px;
  }

button {
  margin-top: 20px;
  height: 40px;
  width: 160px;
  border: solid 1px #c8cccf;
  border-radius: 2px;
  background-color: white;
  color: #414f57;
  transition: border-color 1s, color 1s;
}
  button:hover {
    border: solid 1px #91C7B8;
    color: #91C7B8;
    cursor: pointer;
  }