@charset "UTF-8";

#wrapper {
  width: 600px;
  text-align: unset;
}
#wrapper header {
  text-align: center;
}

#main .avatar {
  position: relative;
  display: block;
  margin-bottom: 30px;
}
  #main .avatar img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    box-shadow: 0 0 0 1.5em #ffffff;
  }
  #main .avatar:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 600px;
    height: 1px;
    z-index: -1;
    background: #c8cccf;
  }

ul.icons {
  letter-spacing: normal;
  position: absolute;
  margin-top: -240px;
  margin-left: 20px;
  margin-bottom: 40px;
}
ul.icons li a, i {
  text-decoration: none;
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: solid 1px #c8cccf;
  line-height: 40px;
  margin: 0px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  color: #c8cccf;
  transition: border-color 1s, color 0.5s;
}
ul.icons li i {
  line-height: 40px;
  border-color: #91C7B8;
  color: #91C7B8;
}

ul#images {
  width: 600px;
  margin: 0 auto;
  padding: 0px 70px 40px 70px;
  overflow: hidden;
  list-style: none;
}
ul#images li {
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 5px solid white;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,.4);
  transition: all 0.2s ease-in;
}
ul#images li span {
  opacity: 0;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: rgba(0,0,0,.3);
  font-size: 9pt;
  line-height: 370px;
  padding: 5px;
}
ul#images li:hover {
  transform: scale(1.5);
}
ul#images li:hover span {
  opacity: 1;
}
ul#images li#img01 {
  background: url('../_images/img01.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: white;
}
ul#images li#img01:hover {
  background-position: 0px 0px;
  background-size: 200px 200px
}